<!DOCTYPE html>
<html>
  <head>
    <title>CARAVAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="heading">
      <%= link_to "CARAVAN", blogs_path %>
      </h1>
        <div class="social">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter-square"></i>
          <i class="fa fa-instagram"></i>
        </div>
    </header>

<nav>
  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="#">Home</a>
    </li>
    <li class="nav-list-item"><%= link_to "About", about_path %></li>
    <li class="nav-list-item"><%= link_to "New Post", new_blog_path %></li>
    <li class="nav-list-item">Topic</li>
  </ul>
</nav>
    <%= yield %>
<footer>
  <p class="footer-text">© All rights reserved by Infratop.Inc.</p>
</footer>
  </body>
</html>
